

#header {
  color: whitesmoke;
}


body {
  background-color: #333333;
}

.todo-list {
  color: white;
  list-style: none;
}


.todo-item {
  background-color: #151515;
  margin: 8px;
  padding: 8px;
  max-width: 650px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.remove-btn {
  max-height: 24px;

}



